#root {width:100%}

.App {
  text-align: center;
  width:100%
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div {display:inline-block; padding :10px; text-align: center;}
.text-link{display:block;color:blue;text-decoration: underline important!;}
ul {list-style-type: none;}
ul > li {padding:5px; display:block}
ul > li > button {margin:7px}
.list-group {text-align:center}
.submission-list{display:block}
.submission-list > li > label{display:inline-block; padding: 10px}
.submission-container  label{padding:5px;margin:3px}

.submissions {width:100%}
.submissions ul {border:2px solid blue}
.submissions li {display:table;}
.submissions li > label{display:inline-block;padding:10px}